
/*HEADERS LINKS*/

@mixin header-link-propiedades{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    left: 50px;
    
}

.header-links{
    background-color: black;
    display: flex;
    justify-content: left;
    height: 150px;
    .contenedor-logo{
        .img-logo{
            @include header-link-propiedades();
        }
    }
    .contenedor-onda{
        .img-logo2{
            @include header-link-propiedades();
        }

    }

     
}    