/*INSCRIPCIONES CURSOS*/
main{
    div{
        .boton-inscripciones{

            margin-left: 47%;
            margin-top: 5%;
         }

    }
}

section{
    .titulo-inscripciones{
        text-align: center;
        text-decoration: underline;
     }

}
